/.vscode
/02problem2.c
/02problem2.exe
/03_nonzero.c
/03_nonzero.exe
/03_problem3.c
/03_problem3.exe
/04_logical.c
/04_logical.exe
/0conditionals.c
/0conditionals.exe
/practise_1.c
/practise_1.exe
/practise_3.c
/question_2.c
/question_2.exe